<div id="signup_up_container" class="signup_up_container">
    <div id="signup_form" class="signup_form">
        <form>
            <h1>SIGN UP</h1>
            <p>
                <label for="user_name_signup_label" class="user_name_signup_label"> Your Name</label><br>
                <input id="user_name_signup" name="user_name_signup" required="required" type="text"
                    placeholder="Akash Sharma" />
            </p>
            <p>
                <label for="user_id_signup_label" class="user_id_signup_label">Your Id</label><br>
                <input id="user_id_signup" name="user_id_signup" required="required" type="number" placeholder="3" />
            </p>
            <p>
                <label for="user_age_signup_label" class="user_age_signup_label">Your Age</label><br>
                <input id="user_age_signup" name="user_age_signup" required="required" type="date"
                    placeholder="eg. 21" />
            </p>
            <p class="signup_button">
                <input type="button" value="Submit" />
            </p>
        </form>
    </div>
</div>